{% extends "base.html.twig" %}
{% block title %}Conge{% endblock %}
{% block body %}

<center>
<div class="container">
<h1 class="create">Please complete the leave form</h1>
<br>
<br>


{{ form_start(form2) }}
<div id="userId">
{{ form_row(form2.iduser,{value : app.user.id}) }}
</div>
<div class="content">
{{ form_row(form2.startdate) }}
</div>
<div class="content">
{{ form_row(form2.numberdays) }}
</div>
<div id="vka">
{{ form_row(form2.status) }}
</div>
<div class="content">
<button type="submit" name="submit_button" id="submit_button">Ajouter</button>
</div>
{{ form_end(form2) }}

</center>



<center>
<h1>Leave history </h1>

<table width="50%" border="1" cellspacing="1" cellpadding="5">
    <tr>
        <th><center>Start date</center></th>
        <th><center>Number days</center></th>
        <th><center>status</center></th>
       
  
        
    </tr>
    {% for key in conge %}
    <tr>
       <td><center>{{key.startdate|date("m/d/Y")}}</center></td>
       <td><center>{{ key.numberdays|e }}</center></td>
       <td><center>Encour</center></td>
       

       
    
       
       
   </tr>
   {% endfor %}

   
</table>
</center>


{% endblock %}














